// Quasar Stylus Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files.

// Check documentation for full list of Quasar variables

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.
$shadow-color = rgba(59, 88, 175, 0.8);
$elevation-umbra      ?= rgba($shadow-color, .1)
$elevation-penumbra   ?= rgba($shadow-color, .14)
$elevation-ambient    ?= rgba($shadow-color, .12)

$primary   = #009BEE
$secondary = #005E86
$accent    = #EB8330

$positive  = #87BF57
$negative  = #C10015
$info      = #31CCEC
$warning   = #F2C037


